<a href="https://colab.research.google.com/github/Adithya-R-Iyer/Machine-Learning-Project/blob/main/ML_Day03_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv")

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
data = df.copy()

In [9]:
## from sklearn.impute import SimpleImputer
## imputer = SimpleImputer(missing_values = np.nan, strategy = "")
## imputer = imputer.fit(data[['']])
## data[''] = imputer.transform(data[['']])

=> SINCE NONE OF THE ATTRIBUTES ARE NULL FOR ANY GIVEN ROW ... THE ABOVE CODE NEED NOT BE EXECUTED ... 
OR IN OTHER WORDS
ALL THE ROWS CONTAINS VALID VALUES FOR ALL THE ATTRIBUTES HENCE IMPUTER NEED NOT BE USED...

=> SINCE THERE ARE NO NULL VALUES IN ANY OF THE COLUMN (affecting a larger portion of DataSet)... WE NEED NOT DROP ANY OF THE COLUMN

=> BY observing the DataSet and the attributes given.. we can come to a conclusion that all the Attributes playes a major role in the Prediction of Heart Disease.. HENCE WE CAN KEEP ALL THE ATTRIBUTES

****************************************************************************************

## NOTES :-

1} **INTERPRETATION OF HEAT MAPS** :-

    -> Heat maps are visual representations of data where the individual values in a matrix are represented as colors. Heat maps are often used in data analysis to quickly identify patterns or trends in large datasets.

    -> Interpreting a heat map involves analyzing the colors of the cells in the matrix. Typically, darker colors represent higher values, while lighter colors represent lower values. It is important to understand the scale used for the colors, as this can affect the interpretation of the heat map.

    ->Heat maps can be useful for identifying clusters or patterns in the data, such as correlations between different variables or groups of related items. They can also be used to compare the relative values of different data points.

    When interpreting a heat map, it is important to consider the context of the data being analyzed and to be mindful of any potential biases or confounding factors that may affect the results. Heat maps can be a powerful tool for data visualization and analysis, but they should be used carefully and with an understanding of their limitations.

2} PAIR PLOTS :-

    ->Pair plots, also known as scatterplot matrices, are a type of data visualization that displays pairwise relationships between variables in a dataset.

    ->A pair plot consists of a grid of scatterplots, where each plot shows the relationship between two variables. The diagonal plots typically show a histogram or a density plot for each variable.

    ->Pair plots can be useful for identifying patterns and correlations in the data, particularly when working with multiple variables. They can also help identify any outliers or unusual observations that may need to be investigated further.

    ->When interpreting a pair plot, it is important to consider the strength and direction of the relationship between variables. A positive relationship means that as one variable increases, the other variable tends to increase as well. A negative relationship means that as one variable increases, the other variable tends to decrease.

    ->Pair plots can be a powerful tool for exploratory data analysis, but they should be used in conjunction with other analytical techniques and should not be used as the sole basis for drawing conclusions about a dataset.

3} CLUSTER MAP :-

    ->Cluster maps, also known as dendrograms, are a type of data visualization that display hierarchical relationships between data points in a dataset.

    ->Cluster maps typically consist of a tree-like structure, where each branch represents a group of data points that share similar characteristics or properties. The height of each branch represents the degree of similarity between the data points it connects.

    ->Cluster maps can be useful for identifying groups or clusters within a dataset, and for understanding the relationships between different data points. They can also be used to identify any outliers or unusual observations that may need to be investigated further.

    ->When interpreting a cluster map, it is important to consider the distance metric used to calculate the similarity between data points, as well as the clustering algorithm used to construct the tree-like structure. Different distance metrics and clustering algorithms can produce different results, so it is important to choose the appropriate approach for the specific dataset and analytical question at hand.

    ->Cluster maps can be a powerful tool for exploratory data analysis and hypothesis generation, but they should be used in conjunction with other analytical techniques and should not be used as the sole basis for drawing conclusions about a dataset.

## DIFFERENT TYPES OF DATA :-

1} NOMINAL DATA :-

    Nominal data is a type of categorical data where the values are unordered and do not have any natural numerical interpretation. Nominal data is often used to represent qualitative characteristics, such as gender, ethnicity, or country of origin. Nominal data can be represented using text labels, numbers, or symbols.

2} ORDINAL DATA :-

    Ordinal data is a type of categorical data where the values have a natural ordering or hierarchy. Ordinal data is often used to represent quantitative characteristics, such as levels of education, income brackets, or survey responses on a Likert scale. While the values of ordinal data are not numerically meaningful in themselves, they do indicate a relative order or ranking.

3} DISCRETE DATA :-

    Discrete data is a type of numerical data where the values are finite and distinct. Discrete data is often used to represent counts or frequencies, such as the number of students in a class, or the number of cars sold in a month. Discrete data can only take on specific values and cannot be subdivided further.

4} CONTINUOUS DATA :-

    Continuous data is a type of numerical data where the values are continuous and can take on any value within a certain range. Continuous data is often used to represent physical measurements, such as height, weight, or temperature. Continuous data can be subdivided infinitely into smaller and smaller units, and can take on any value within a certain range.

  In summary, nominal and ordinal data are types of categorical data, while discrete and continuous data are types of numerical data. Nominal data is unordered, ordinal data has a natural ordering, discrete data consists of finite and distinct values, and continuous data consists of values that are continuous and can take on any value within a certain range.